.rounded {
    width: 36px;
    margin-top: 0%;
    position: relative;
}

.card {
    border-radius: 0px;
}

.card-header {
    margin-top: -2%;
    background-color: rgb(255, 255, 255);
}

.card-footer{
    background-color:#00adff61;
   
}

.card-footer p{
    color:white;
}