<app-nav2></app-nav2>

<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="https://thumbs.dreamstime.com/b/icono-calvo-del-avatar-hombre-125451253.jpg" alt="img-avatar">
            </div>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">Raul del jesus</h3>
            <p class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa in beatae omnis labore sit dolores aspernatur iure fuga amet rep sequi corrupti architecto. Quisquam corrupti modi ut!</p>
        </div>
    </div>
    <div class="perfil-usuario-datos">
        <ul class="lista-datos">
            <li><i class="icon-image"></i>apellido: Alvarez</li>
            <li><i class="icon-image"></i>Correo: aurelio@y.com</li>
            <li><i class="icon-image"></i>celular:+01006727272</li>
        </ul>
    </div>
</section>