.slider {
    width: 60%;
    margin: auto;
    overflow: hidden;
    margin-top: 60px;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}

.slider ul:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 470px;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }
    20% {
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

.caja {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 18px;
    font-weight: 400;
    color: black;
    background: #00adff61;
    box-shadow: 0px 0px 12px #000;
    ;
    position: relative;
    height: 150px;
    width: 900px;
    padding: 10px;
    margin: 88px;
    margin-left: 400px;
}

.caja2 {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 18px;
    font-weight: 400;
    color: black;
    background: #00adff61;
    box-shadow: 0px 0px 12px #000;
    ;
    position: relative;
    height: 150px;
    width: 900px;
    padding: 10px;
    margin: 88px;
    margin-left: 400px;
}