.title {
    font-family: 'Akaya Telivigala', cursive;
    font-weight: 400;
    position: absolute;
    height: 150px;
    width: 900px;
    padding: 10px;
    margin-top: 16%;
    margin-left: 7%;
}

.title h3 {
    font-size: 45px;
    margin-left: 7%;
    color: rgb(192 119 230);
}

.title p {
    font-size: 25px;
    color: rgb(41, 143, 211);
}

.img-fluid {
    max-width: 100%;
    height: auto;
    position: absolute;
    margin-left: 48%;
    margin-top: 7%;
}

.btn {
    margin-top: 28%;
    margin-left: 17%;
    font-family: cursive;
}