* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.form-formu {
    width: 340px;
    height: 520px;
    background: #fdfdfd;
    margin: auto;
    margin-top: 40px;
    box-shadow: 0px 0px 26px #000;
    padding: 20px 30px;
    border-top: 4px solid #A0856E;
    color: black;
    border-radius: 20px;
}

.form-formu h3 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.control {
    width: 100%;
    border: 0;
    border-bottom: 4px solid #A0856E;
    margin-bottom: 4px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    background: #fdfdfd;
    outline: none;
}

.control:hover {
    outline: none;
}

.boton {
    width: 19%;
    height: 40px;
    background: #A0856E;
    border: none;
    color: rgb(8, 8, 8);
    margin-top: 16px;
    border-radius: 20px;
    outline: none;
    position: absolute;
}

.form-formu a {
    color: rgb(19, 18, 18);
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.con {
    margin-top: 29%;
    font-size: 14px;
}

.spinner-border {
    top: 80%;
    position: absolute;
}
