<section class="form-formu">
    <h3> Patitas Empolvadas</h3>
    <div *ngIf="load">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input class="control" formControlName="email" type="email" i aria-describedby="emailHelp">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input class="control" formControlName="password" type="password">
            </div>
            <button type="submit" class="boton">Submit</button>
            <a href="..." class="nav-link" style="color:#264eff" [routerLink]="['/registro']">¿No tienes cuenta? Registrate</a>

        </form>
    </div>
</section>

<div class="text-center">
    <div *ngIf="!load" class="spinner-border" role="status">
        <span class="visually-hidden"></span>
    </div>
</div>