<nav class="navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a0f5172c-f3ea-4223-9c09-dccb29dc203f/d72aamj-d87c440d-d240-48a7-b23f-a9755b1d8269.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYTBmNTE3MmMtZjNlYS00MjIzLTljMDktZGNjYjI5ZGMyMDNmXC9kNzJhYW1qLWQ4N2M0NDBkLWQyNDAtNDhhNy1iMjNmLWE5NzU1YjFkODI2OS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.rvHIz4zrS-SVvj8dBb3w6F34PzEE1-L4dP5q5lCKLR0"
              alt="" class="d-inline-block align-top">
          <h1>Patitas </h1>
      </a>
      <div>
          <ul class="nav justify-content-end">
              <li class="nav-item">
                  <a class="nav-link" href="" [routerLink]="['/']">Sobre</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="" [routerLink]="['/inicio']">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="" [routerLink]="['/registro']">Registro</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="" [routerLink]="['/login']">Login</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
  

