img {
    top: 3px;
    position: fixed;
    margin-left: -1%;
    width: 50px;
}

.navbar {
    background-color: #00adff61;
    height: 53px;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

.container-fluid h1 {
    color: beige;
    font-size: 150%;
    margin-left: 53%;
    font-family: 'Akaya Telivigala', cursive;
    margin-top: -5%;
}

.nav-item a {
    color: beige;
    font-size: 17px;
    font-weight: 550;
    width: 109px;
    margin-top: -12px;
}