<app-nav></app-nav>

<div class="slider">
    <ul>
        <li><img src="assets/1.jpeg"></li>
        <li><img src="assets/2.jpeg"></li>
        <li><img src="assets/istockphoto-1191962502-170667a.jpg"></li>
        <li><img src="assets/istockphoto-1210341751-170667a.jpg"></li>
    </ul>
</div>
<div class="caja">
    <h3>Vision</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat officiis, optio sit eaque totam laudantium? Dicta natus exercitationem perspiciatis sit porro error eum, non cum voluptates nesciunt quidem doloremque cumque!</p>
</div>
<div class="caja2">
    <h3>Mision</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat officiis, optio sit eaque totam laudantium? Dicta natus exercitationem perspiciatis sit porro error eum, non cum voluptates nesciunt quidem doloremque cumque!</p>
</div>
<app-footer></app-footer>
