<app-nav></app-nav>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Busqueda Por Interes" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button">Button</button>
</div>

<div id="caja">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://elrefugio.org/contenido/animales/thumbs/El-Refugio-Pistas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tony</h5>
                    <p class="card-text">5 años de edad</p>
                    <a href="#" class="btn btn-primary">Conocer</a>
                </div>
            </div>
        </div>
        <div class=" col ">
            <div class="card h-100 ">
                <img src="https://elrefugio.org/contenido/animales/thumbs/El-Refugio-Moncheriweb_1.jpg " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Carlos</h5>
                    <p class="card-text ">3 años de edad</p>
                    <a href="# " class="btn btn-primary ">Conocer</a>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card h-100 ">
                <img src="https://elrefugio.org/contenido/animales/thumbs/El-Refugio-Brutusweb.jpg " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Max</h5>
                    <p class="card-text ">2 años de edad</p>
                    <a href="# " class="btn btn-primary ">Conocer</a>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card h-100 ">
                <img src="https://elrefugio.org/contenido/animales/thumbs/El-Refugio-Bichaweb.jpg " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Lucas</h5>
                    <p class="card-text ">2 años de edad</p>
                    <a href="# " class="btn btn-primary ">Conocer</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div class="col ">
            <div class="card h-100 ">
                <img src="https://elrefugio.org/contenido/animales/thumbs/El-Refugio-Kalimbaweb.jpg " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Mia</h5>
                    <p class="card-text ">Un año de edad</p>
                    <a href="# " class="btn btn-primary ">Conocer</a>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card h-100 ">
                <img src="https://elrefugio.org/contenido/animales/thumbs/El-Refugio-Haruweb.jpg " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Leo</h5>
                    <p class="card-text ">6 años de edad</p>
                    <a href="# " class="btn btn-primary ">Conocer</a>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card h-100 ">
                <img src="https://elrefugio.org/contenido/animales/thumbs/El-Refugio-Roriweb.jpg " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Toby</h5>
                    <p class="card-text ">1 años de edad</p>
                    <a href="# " class="btn btn-primary ">Conocer</a>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card h-100 ">
                <img src="https://elrefugio.org/contenido/animales/thumbs/El-Refugio-Pintaweb.jpg " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Bruno</h5>
                    <p class="card-text ">4 años de edad</p>
                    <a href="# " class="btn btn-primary ">Conocer</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>